@import url('https://fonts.googleapis.com/css?family=Mali');

:root {
    --main-bg-color: #f7f7f7;
    --input-bg-color: #f0f0f0;
    --input-font-color: #b7b7b7;
    --font-color: #949494;
    --link-font-color: #b6b6b6;
    --shadow-color: #eaeaea;
    --btn-color: #fea15d;
    --footer-font-color: #dddddd;
}

* {
    box-sizing: border-box;
}

.main-topic {
    font-size: 22px;
    font-weight: normal;
    color: var(--font-color);
}

.main-section {
    background-color: var(--main-bg-color);
    font-family: 'Mali', cursive;

    /* to center the content  */
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bold-font {
    font-weight: bold;
}

.registration-form {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 1px var(--shadow-color);
    padding: 30px 27px;
    width: 339px;
    height: 349px;
}

.input-row {
    overflow: hidden;
    width: 100%;
    margin-bottom: 13px;
}

.input-field {
    padding: 12px 30px 12px 10px;
    background-color: var(--input-bg-color);
    color: var(--input-font-color);
    border: none;
    border-radius: 4px;
    width: 100%;
    font-family: 'Mali', cursive;
    height: 35px;
}

.input-field-name {
    width: 137px;
}

.input-field-name-first {
    float: left;
}

.input-field-name-last {
    float: right;
}

.input-field[class*="icon"] {
    background-position: 98% 50%;
}

.username-icon {
    background: var(--input-bg-color) url(../images/man.png) no-repeat 0 0;
}

.password-icon {
    background: var(--input-bg-color) url(../images/lock.png) no-repeat 0 0;
}

/*checkbox formatting*/
.label {
    font-size: 11px;
    color: var(--footer-font-color);
    display: block;
}

.input-field[type=checkbox] {
    display: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.input-field[type=checkbox]:checked + .label:before {
    background: url('../images/checked.png') left center no-repeat;
}

.label[for=terms]:before {
    content: "";
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: inline-block;
    background: url(../images/unchecked.png) left center no-repeat;
}
/*------------*/

.link {
    text-decoration: none;
    font-weight: bold;
    color: var(--link-font-color);
}

.center-section {
    text-align: center;
}

.center-section label {
    color: var(--footer-font-color);
}

.truncate-section {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 27%;
}

.btn-submit {
    background-color: var(--btn-color);
    border: none;
    color: white;
    font-size: 14px;
    font-family: 'Mali', cursive;
    border-radius: 4px;
    transition-duration: 0.6s;
    cursor: pointer;
    height: 35px;
    padding: 0 25px;
}

.btn-submit:hover {
    background-color: white;
    color: var(--font-color);
}