@import url('https://fonts.googleapis.com/css?family=Mali');

* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: 'Mali', cursive;

    /* to center the content  */
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bold {
    font-weight: bold;
}

h1 {
    font-weight: normal;
    color: grey;
}

form {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px grey;
    padding: 4%;
}

form div {
    overflow: hidden;
    width: 100%;
    margin-bottom: 1%;
}

input {
    padding: 1%;
    background-color: lightgray;
    background-size: 1em;
    color: grey;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding-right: 30px;
    width: 100%;
    font-family: 'Mali', cursive;
}

.input-name {
    width: 49%;
}

.fname {
    float: left;
}

.lname {
    float: right;
}

input[class*="icon"] {
    background-size: 1em;
    background-position: 98% 50%;
}

.username-icon {
    background: lightgray url(man.png) no-repeat 0 0;
}

.password-icon {
    background: lightgray url(lock.png) no-repeat 0 0;
}

/*checkbox formatting*/
label {
    font-size: 0.7em;
    color: grey;
    display: block;
}

input[type=checkbox] {
    display: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

input[type=checkbox]:checked + label:before {
    background: url('checked.png') left center no-repeat;
}

label[for=terms]:before {
    content: "";
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: inline-block;
    background: url(unchecked.png) left center no-repeat;
}
/*------------*/

a {
    text-decoration: none;
    font-weight: bold;
    color: grey;
}

.center {
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

.truncate {
    padding: 0 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    background-color: #fea15d;
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    font-family: 'Mali', cursive;
    border-radius: 5px;
    transition-duration: 0.6s;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: grey;
}